#clavier {

    display: block;
    margin-left: auto;
    margin-right: auto;
}


p{
    
    text-align: center;
    font-size: 25px;
    
}

#jeux {

    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-shadow: 2px 2px 4px black;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0980ED;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}


.button:hover {background-color: #FA3A2A}

.button:active {
  background-color: #FA3A2A;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}