.button {
    display: inline-block;
    padding: 5px 15px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0980ED;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}


.button:hover {background-color: #FA3A2A}

.button:active {
  background-color: #FA3A2A;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}